@charset "utf-8";
	h1{
				
				font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
				color: gold;
			}
			
			h2{
				background-color: firebrick;
				color: aliceblue;
			}/* CSS Document */

